<!--
=========================================================
* Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard


* Copyright  Creative Tim (http://www.creative-tim.com)
* Coded by www.creative-tim.com



=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
    <meta name="author" content="Creative Tim">
    <title>SMI</title>
    <!-- Favicon -->
    <link rel="icon" th:href="@{/img/brand/favicon.png}" type="image/png">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- Icons -->
    <link rel="stylesheet" th:href="@{/vendor/nucleo/css/nucleo.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/vendor/@fortawesome/fontawesome-free/css/all.min.css}" type="text/css">
    <!-- Page plugins -->
    <!-- Argon CSS -->
    <link rel="stylesheet" th:href="@{/css/argon.css?v=1.2.0}" type="text/css">
  </head>

  <body>
  <!-- Sidenav -->
  <nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div th:insert="~{fragments/sidenav :: sidenav}"></div>
  </nav>
  <!-- End of Sidenav -->
  <!-- Main content -->
  <div class="main-content" id="panel">
    <!-- Topnav -->
    <div th:insert="~{fragments/topnav :: topnav}"></div>
    <!-- End of Topnav -->
    <!-- Header -->
    <div th:insert="~{fragments/header :: header}"></div>
    <!-- End of Header -->
    <!-- Page content -->
    <div class="container-fluid mt--6">

      <!-- Content -->
      <section layout:fragment="content"></section>

      <!-- End of Content -->
      <!-- Footer -->
      <div th:insert="~{fragments/footer :: footer}"></div>
      <!-- End of Footer -->
    </div>
  </div>
  <!-- Argon Scripts -->
  <!-- Core -->
  <script th:src="@{/vendor/jquery/dist/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/vendor/js-cookie/js.cookie.js}"></script>
  <script th:src="@{/vendor/jquery.scrollbar/jquery.scrollbar.min.js}"></script>
  <script th:src="@{/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js}"></script>
  <!-- Optional JS -->
  <script th:src="@{/vendor/chart.js/dist/Chart.min.js}"></script>
  <script th:src="@{/vendor/chart.js/dist/Chart.extension.js}"></script>
  <!-- Argon JS -->
  <script th:src="@{/js/argon.js?v=1.2.0}"></script>
  <script th:src="@{/vendor/datatables.net/js/jquery.dataTables.min.js}"></script>
  </body>

</html>
