<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{index.html}">

<section layout:fragment="content">

    <div class="row align-items-end py-4">
        <div class="col-lg-12 text-right">

            <button type="button" class="btn btn-sm btn-neutral" data-toggle="modal" data-target="#exampleModal">
                Regjistro perdorues
            </button>

        </div>
    </div>


    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Perdoruesit</h3>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <!-- Projects table -->

                    <table id="users-table" class="table align-items-center table-flush">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Emri</th>
                            <th scope="col">Mbiemri</th>
                            <th scope="col">Emri i perdoruesit</th>
                            <th scope="col">Roli</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
</html>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <form action="#" th:action="@{/users}" th:object="${userToCreate}" method="post">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Regjistro perdorues</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="firstName" class="form-control-label">Emri</label>
                        <input class="form-control" th:field="*{firstName}" type="text" value="John Snow" id="firstName" required>
                    </div>

                    <div class="form-group">
                        <label for="lastName" class="form-control-label">Mbiemri</label>
                        <input class="form-control" th:field="*{lastName}" type="text" value="John Snow" id="lastName" required>
                    </div>

                    <div class="form-group">
                        <label for="username" class="form-control-label">Emri i perdoruesit</label>
                        <input class="form-control" th:field="*{username}" type="text" value="John Snow" id="username" required>
                    </div>
                    <div class="form-group">
                        <label for="email" class="form-control-label">Email adresa</label>
                        <input class="form-control" th:field="*{emailAddress}" type="email" id="email" required>
                    </div>


                    <div class="form-group">
                        <label for="role">Roli</label>
                        <select class="form-control" id="role"  th:field="*{role}" required>
                            <option th:each="role : ${availableRoles}"
                                    th:value="${role}"
                                    th:text="${role}" ></option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Mbyll dritaren</button>
                    <button type="submit" value="Submit" class="btn btn-primary">Ruaj ndryshimet</button>
                </div>
            </div>
        </form>

    </div>
</div>


    <script>

        $(document).ready( function () {
            var table = $('#users-table').DataTable({
                "sAjaxSource": "/users/data",
                "sAjaxDataProp": "",
                "aoColumns": [
                    { "mData": "id"},
                    { "mData": "firstName" },
                    { "mData": "lastName" },
                    { "mData": "username" },
                    { "mData": "role" },
                ]
            })
        });


    </script>
