<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{index.html}">

<section layout:fragment="content">

    <div th:if="${#lists.contains(privileges,'CREATE_INSPECTORS')}" class="row align-items-end py-4">
        <div class="col-lg-12 text-right">
            <button type="button" class="btn btn-sm btn-neutral" data-toggle="modal" data-target="#exampleModal">
                Regjistro inspektor
            </button>

        </div>
    </div>


    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Inspektoret</h3>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <!-- Projects table -->

                    <table id="inspection-category-table" class="table align-items-center table-flush">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Identifikuesi</th>
                            <th scope="col">Emri</th>
                            <th scope="col">Kategoria</th>
                            <th scope="col">Menaxheri</th>
                            <th scope="col">Veprimet</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
</html>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        <form action="#" th:action="@{/inspections/inspectors}" th:object="${inspectorToCreate}" method="post">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Regjistro inspektor</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">


                    <div class="form-group">
                        <label for="firstName" class="form-control-label">Emri</label>
                        <input class="form-control" th:field="*{firstName}" type="text" value="John Snow"
                               id="firstName" required>
                    </div>

                    <div class="form-group">
                        <label for="lastName" class="form-control-label">Mbiemri</label>
                        <input class="form-control" th:field="*{lastName}" type="text" value="John Snow" id="lastName" required>
                    </div>

                    <div class="form-group">
                        <label for="username" class="form-control-label">Emri i perdoruesit</label>
                        <input class="form-control" th:field="*{username}" type="text" value="John Snow" id="username" required>
                    </div>
                    <div class="form-group">
                        <label for="email" class="form-control-label">Email adresa</label>
                        <input class="form-control" th:field="*{emailAddress}" type="email" id="email" required>
                    </div>


                    <div class="form-group">
                        <label for="role">Kategorite</label>
                        <select class="form-control" id="role" th:field="*{categoryId}" required>
                            <option th:each="category : ${categories}"
                                    th:value="${category.id}"
                                    th:text="${category.name}"></option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Mbyll dritaren</button>
                    <button type="submit" value="Submit" class="btn btn-primary">Ruaj ndryshimet</button>
                </div>
            </div>
        </form>

    </div>
</div>


<script>

    $(document).ready(function () {
        var table = $('#inspection-category-table').DataTable({
            "sAjaxSource": "/inspections/inspectors/data",
            "sAjaxDataProp": "",
            "aoColumns": [
                {"mData": "id"},
                {"mData": "fullName"},
                {"mData": "category"},
                {"mData": "manager"},
                {
                    "mData": "actions",
                    "mRender": function (data, type, row){

                        return `<a class="nav-link"  href="/inspections/inspectors/assignment/view/${row.id}" target="_self" >Cakto zonat</a>`
                    }
                }
            ]
        })
    });
</script>
