<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{index.html}">

<section layout:fragment="content">

    <div class="row">

        <div class="card col-12">
            <div class="card-body">
                <h5 class="card-title">Raporto nje rast</h5>

                <form th:action="@{/inspections/cases}" th:object="${caseToCreate}" method="post"
                      enctype="multipart/form-data">

                    <div class="row">
                        <div class="col-lg-6">

                            <div class="form-group">
                                <label for="title">Titulli</label>
                                <input type="text" class="form-control" id="title" th:field="*{title}" required>
                            </div>

                            <div class="form-group">
                                <label for="description">Pershkrimi i rastit</label>
                                <textarea class="form-control" id="description" rows="3" th:field="*{description}"
                                          required></textarea>
                            </div>

                            <div class="form-group">
                                <div class="custom-file">
                                    <input type="file"  name="file"  multiple class="custom-file-input" id="customFileLang" lang="en">
                                    <label class="custom-file-label" for="customFileLang">Select file</label>
                                </div>
                            </div>


<!--                            <div class="form-group">-->
<!--                                <input type="file" name="file" id="file" multiple-->
<!--                                       accept="image/x-png,image/jpeg,image/jpg"/>-->
<!--                            </div>-->

                            <div class="form-group">
                                <label for="city">Qyteti</label>
                                <select class="form-control" id="city">
                                    <option th:each="city : ${cities}"
                                            th:value="${city.name}"
                                            th:text="${city.name}">Zgjedh qytetin
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="zone">Zona</label>
                                <select class="form-control" id="zone" name="zone">
                                    <option value="-1">Zgjedh zonen</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="street">Rruga</label>
                                <select class="form-control" id="street" name="street">
                                    <option value="-1">Zgjedh rrugen</option>
                                </select>
                            </div>



                        </div>

                        <div class="col-lg-6">

                            <label for="accusedIdentifier">Raportuesi</label>
                            <div class="input-group">

                                <input type="text" id="reporterIdentifier" class="form-control"
                                       aria-describedby="reporterIdentifier_loader" th:field="*{reporterIdentifier}">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary" type="button"
                                            id="reporterIdentifier_loader">Kerko
                                    </button>
                                </div>

                            </div>

                            <div class="row" id="reporter-entity-table-individual-cont">

                                <div class="table-responsive">
                                    <!-- Projects table -->

                                    <table id="reporter-entity-table-individual"
                                           class="table align-items-center table-flush">
                                        <thead class="thead-light">
                                        <tr>
                                            <th scope="col">Identifikuesi</th>
                                            <th scope="col">Emri</th>
                                            <th scope="col">Qyteti</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>

                            </div>


                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="accusedEntityIndividual" name="customRadioInline1"
                                       class="custom-control-input" th:field="*{individual}" th:value="1">
                                <label class="custom-control-label" for="accusedEntityIndividual">Pala e akuzuar eshte
                                    individ</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="accusedEntityBusiness" name="customRadioInline1"
                                       class="custom-control-input" th:field="*{individual}" th:value="0">
                                <label class="custom-control-label" for="accusedEntityBusiness">Pala e akuzuar eshte
                                    biznes</label>
                            </div>

                            <br>

                            <label for="accusedIdentifier">Pala e akuzuar</label>
                            <div class="input-group">

                                <input type="text" id="accusedIdentifier" class="form-control"
                                       aria-describedby="accusedIdentifier_loader" th:field="*{accusedIdentifier}"
                                       required>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary" type="button" id="accusedIdentifier_loader">
                                        Kerko
                                    </button>
                                </div>

                            </div>

                            <div class="row" id="accused-entity-table-business-cont">

                                <div class="table-responsive">
                                    <!-- Projects table -->

                                    <table id="accused-entity-table-business"
                                           class="table align-items-center table-flush">
                                        <thead class="thead-light">
                                        <tr>
                                            <th scope="col">Identifikuesi</th>
                                            <th scope="col">Emri i biznesit</th>
                                            <th scope="col">Lloji</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>

                            </div>

                            <div class="row" id="accused-entity-table-individual-cont">

                                <div class="table-responsive">
                                    <!-- Projects table -->

                                    <table id="accused-entity-table-individual"
                                           class="table align-items-center table-flush">
                                        <thead class="thead-light">
                                        <tr>
                                            <th scope="col">Identifikuesi</th>
                                            <th scope="col">Emri</th>
                                            <th scope="col">Qyteti</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>

                            </div>


                        </div>


                    </div>

                    <div class="col-lg-12 text-right">
                        <button type="submit" class="btn btn-primary">
                            Regjistro rastin
                        </button>

                    </div>
                </form>

            </div>
        </div>


    </div>


    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Rastet</h3>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <!-- Projects table -->


                    <table id="cases-table" class="table align-items-center table-flush">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Identifikuesi</th>
                            <th scope="col">Titulli</th>
                            <th scope="col">Statusi</th>
                            <th scope="col">Raportuesi</th>
                            <th scope="col">Koha e raportimit</th>
                            <th scope="col">Fajlla te bashkangjitura</th>
                        </tr>
                        </thead>
                    </table>


                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Rasti #<span
                                            id="case-id-span"></span></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-6">
                                            <dl class="row">
                                                <dt class="col-sm-6">Titulli</dt>
                                                <dd class="col-sm-6" id="detailed_view_title"></dd>

                                                <hr>

                                                <dt class="col-sm-6">Raportuesi</dt>
                                                <dd class="col-sm-6">
                                                    <p id="detailed_view_rep_id"></p></p>
                                                </dd>

                                                <dt class="col-sm-6">Koha e raportimit</dt>
                                                <dd class="col-sm-6">
                                                    <p id="detailed_view_rep_at"></p></p>
                                                </dd>

                                                <hr>

                                                <dt class="col-sm-6">Pala e akuzuar</dt>
                                                <dd class="col-sm-6">
                                                    <p id="detailed_view_ac_type"></p></p>
                                                </dd>


                                                <dt class="col-sm-6">Identifikuesi i te akuzuarit</dt>
                                                <dd class="col-sm-6">
                                                    <p id="detailed_view_ac_id"></p></p>
                                                </dd>


                                                <dt class="col-sm-6">Emri i te akuzuarit</dt>
                                                <dd class="col-sm-6">
                                                    <p id="detailed_view_ac_name"></p></p>
                                                </dd>

                                                <dt class="col-sm-6">Qyteti</dt>
                                                <dd class="col-sm-6">
                                                    <p id="detailed_view_ac_city"></p></p>
                                                </dd>

                                            </dl>
                                        </div>
                                        <div class="col-6">
                                            <dt>Pershkrimi</dt>
                                            <dd>
                                                <p id="detailed_view_description"></p></p>
                                            </dd>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
</html>

<script>

    $(document).ready(function () {

        $('#accused-entity-table-business-cont').hide();
        $('#accused-entity-table-individual-cont').hide();
        $('#reporter-entity-table-individual-cont').hide();

    })


    let searchPersonsForAccusedEntity = false;

    $('#accusedEntityBusiness').change(function () {

        if ($(this).val() == '0') {
            searchPersonsForAccusedEntity = false;
        } else {
            searchPersonsForAccusedEntity = true;
        }

    });

    $('#accusedEntityIndividual').change(function () {

        if ($(this).val() == '1') {
            searchPersonsForAccusedEntity = true;
        } else {
            searchPersonsForAccusedEntity = false;
        }
    });


    $('#reporterIdentifier_loader').on('click', function () {

        let reporterIdentifier = $('#reporterIdentifier').val();
        $('#reporter-entity-table-individual-cont').show();

        $(document).ready(function () {

            if (reporterIdentifier.length !== 0) {

                let datatable = $('#reporter-entity-table-individual');

                datatable.DataTable().destroy();

                datatable.DataTable({
                    "sAjaxSource": "/inspections/cases/individual-data/" + reporterIdentifier,
                    "sAjaxDataProp": "",
                    "aoColumns": [
                        {"mData": "identifier"},
                        {"mData": "fullName"},
                        {"mData": "city"}
                    ],
                    "bPaginate": false,
                    "bFilter": false,
                    "bInfo": false
                })

            }


        });

    });

    $('#city').on('change', function () {

        $.ajax({
            url: '/locations/' + $("#city").val(),
            type: 'get',
            dataType: 'json',
            success: function (response) {

                var len = response.length;

                $("#zone").empty();
                for (var i = 0; i < len; i++) {
                    var id = response[i]['name'];
                    var name = response[i]['name'];

                    $("#zone").append("<option value='" + id + "'>" + name + "</option>");

                }
            }
        });
    });

    $('#zone').on('change', function () {

        $.ajax({
            url: '/locations/streets/' + $("#zone").val(),
            type: 'get',
            dataType: 'json',
            success: function (response) {

                var len = response.length;

                $("#street").empty();
                for (var i = 0; i < len; i++) {
                    var id = response[i]['id'];
                    var name = response[i]['name'];

                    $("#street").append("<option value='" + id + "'>" + name + "</option>");

                }
            }
        });
    });


    $('#accusedIdentifier_loader').on('click', function () {

        let accusedIdentifier = $('#accusedIdentifier').val();

        if (!searchPersonsForAccusedEntity) {

            $('#accused-entity-table-business-cont').show();
            $('#accused-entity-table-individual-cont').hide();

            $(document).ready(function () {

                if (accusedIdentifier.length !== 0) {

                    let datatable = $('#accused-entity-table-business');

                    datatable.DataTable().destroy();

                    datatable.DataTable({
                        "sAjaxSource": "/inspections/cases/business-data/" + accusedIdentifier,
                        "sAjaxDataProp": "",
                        "aoColumns": [
                            {"mData": "uniqueIdentifier"},
                            {"mData": "businessName"},
                            {"mData": "businessType"}
                        ],
                        "bPaginate": false,
                        "bFilter": false,
                        "bInfo": false
                    })

                }


            });

        } else {

            $('#accused-entity-table-individual-cont').show();
            $('#accused-entity-table-business-cont').hide();

            $(document).ready(function () {

                if (accusedIdentifier.length !== 0) {

                    let datatable = $('#accused-entity-table-individual');

                    datatable.DataTable().destroy();

                    datatable.DataTable({
                        "sAjaxSource": "/inspections/cases/individual-data/" + accusedIdentifier,
                        "sAjaxDataProp": "",
                        "aoColumns": [
                            {"mData": "identifier"},
                            {"mData": "fullName"},
                            {"mData": "city"}
                        ],
                        "bPaginate": false,
                        "bFilter": false,
                        "bInfo": false
                    })

                }
            });

        }


    });


    $(document).ready(function () {
        var table = $('#cases-table').DataTable({
            "sAjaxSource": "/inspections/cases/summary/data",
            "sAjaxDataProp": "",
            "aoColumns": [
                {"mData": "id"},
                {
                    "mData": "title",
                    "render": function (data, type, row, meta) {
                        if (type === 'display') {
                            data = '<div role="button" id ="' + row.id + '" class="summary-link" tabindex="0">' + data + '</div>';
                            // data = '<a id ="' + row.id + '" class="summary-link" href="#">' + data + '</a>';
                        }
                        return data;
                    }


                },
                {
                    "mData": "status",
                    "render": function (data, type, row, meta) {
                        let translatedData = "";

                        if (data === 'Created') {
                            translatedData = 'E krijuar';
                        }

                        return `<span class="badge badge-default"> ${translatedData}</span>`;
                    }
                },
                {"mData": "reportedBy"},
                {"mData": "reportedAt"},
                {"mData": "attachments"},
                // { "mData": "phone" },
                // { "mData": "active" }
            ]
        })
    });
    $('body').on('click', '.summary-link', function () {

        $('#exampleModal').modal();


        // console.log($(this).attr('id'));


        $.get("/inspections/cases/detailed/data/" + $(this).attr('id'), function (data) {
            // $( ".result" ).html( data );

            // let result = JSON.stringify(data);

            $("#case-id-span").text(data.id)
            $("#detailed_view_title").text(data.title);
            $("#detailed_view_description").text(data.description);
            $("#detailed_view_rep_id").text(data.reporterName);
            $("#detailed_view_rep_at").text(data.reportedAt);
            $("#detailed_view_ac_type").text(data.accusedType);
            $("#detailed_view_ac_id").text(data.accusedEntityId);
            $("#detailed_view_ac_name").text(data.accusedEntityName);
            $("#detailed_view_ac_city").text(data.accusedEntityCity);


            // alert( "Load was performed." );
        });


    });
</script>
