<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{index.html}">

<section layout:fragment="content">
    <div class="row align-items-end py-4">
        <div class="col-lg-12 text-right">
            <button type="button" class="btn btn-sm btn-neutral" data-toggle="modal" data-target="#exampleModal">
                Regjistro kategori te inspektimeve
            </button>

        </div>
    </div>


    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Kategorite e inspektimeve</h3>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <!-- Projects table -->

                    <table id="inspection-category-table" class="table align-items-center table-flush">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Emri</th>
                            <th scope="col">Menaxheri i kategorise</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
</html>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <form action="#" th:action="@{/inspections/categories}" th:object="${categoryToCreate}" method="post">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Regjistro kategori te inspektimeve</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">


                    <div class="form-group">
                        <label for="firstName" class="form-control-label">Emri</label>
                        <input class="form-control" th:field="*{name}" type="text"  id="firstName" required>
                    </div>

                    <div class="form-group">
                        <label for="role">Menaxheri</label>
                        <select class="form-control" id="role"  th:field="*{managerId}" required>
                            <option th:each="manager : ${managers}"
                                    th:value="${manager.id}" th:text="${manager.firstName} + ' '+ ${manager.lastName}" ></option>

                        </select>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Mbyll dritaren</button>
                    <button type="submit" value="Submit" class="btn btn-primary">Ruaj ndryshimet</button>
                </div>
            </div>
        </form>

    </div>
</div>


    <script>

        $(document).ready( function () {
            var table = $('#inspection-category-table').DataTable({
                "sAjaxSource": "/inspections/categories/data",
                "sAjaxDataProp": "",
                "aoColumns": [
                    { "mData": "name"},
                    { "mData": "ownerFullName" }
                ]
            })
        });
    </script>
