<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{index.html}">

<section layout:fragment="content">
    <meta id="entity-id" th:value="${id}">

    <form th:if="${#lists.contains(privileges,'ASSIGN_ZONE_TO_INSPECTOR')}" th:action="@{/inspections/inspectors/assignment}" th:object="${assignmentToUpdate}" method="post">

        <div class="row">
            <div class="col-lg-3">

                <div class="form-group">
                    <label for="city">Qyteti</label>
                    <select class="form-control" id="city">
                        <option th:each="city : ${cities}"
                                th:value="${city.name}"
                                th:text="${city.name}">Zgjedh qytetin
                        </option>
                    </select>
                </div>
            </div>

            <div class="col-lg-3">

                <div class="form-group">
                    <label for="zone">Zona</label>
                    <select class="form-control" id="zone" th:field="*{zoneId}">
                        <option value="-1">Zgjedh zonen</option>
                    </select>
                </div>

            </div>

            <label>
                <input hidden th:value="${id}" id="inspectorId" name="inspectorId"/>
            </label>

            <label>
                <input hidden value="true" id="assigned" name="assigned"/>
            </label>

            <div class="col-log-3 text-right">

                <button type="submit" class="btn btn-primary">
                    Cakto zonen
                </button>

            </div>
        </div>
    </form>


    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Zonat e caktuara</h3>
                        </div>

                    </div>
                </div>
                <div class="table-responsive">
                    <!-- Projects table -->

                    <table id="users-table" class="table align-items-center table-flush">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Zona</th>
                            <th scope="col">Statusi</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
</html>

<script>


    $(document).ready(function () {

        let id = $("#entity-id").attr("value");

        var table = $('#users-table').DataTable({
            "sAjaxSource": "/inspections/inspectors/assignment/" + id + "/data/",
            "sAjaxDataProp": "",
            "aoColumns": [
                {"mData": "zone"},
                {
                    "mData": "assigned",
                    "mRender": function (data, type, row) {

                        if (data === true) {

                            return `<span class="badge badge-default">Aktiv</span>`;

                        } else{

                            return `<span class="badge badge-info">Joaktiv</span>`;
                        }

                    }
                },
            ]
        })

        $('#city').on('change', function () {

            $.ajax({
                url: '/locations/' + $("#city").val(),
                type: 'get',
                dataType: 'json',
                success: function (response) {

                    var len = response.length;

                    $("#zone").empty();
                    for (var i = 0; i < len; i++) {
                        var id = response[i]['name'];
                        var name = response[i]['name'];

                        $("#zone").append("<option value='" + id + "'>" + name + "</option>");

                    }
                }
            });
        });


    });


</script>
