<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" layout:decorate="~{index.html}">

    <section layout:fragment="content">
        <div class="row"  th:if="${#lists.contains(roles,'INSPECTOR')}" >
            <div class="col-xl-4 col-md-6">
                <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title text-uppercase text-muted mb-0">Numri i rasteve aktive</h5>
                                <span class="h2 font-weight-bold mb-0" th:text="${inspectorStats.get('numberOfCasesOnZones')}" >350,897</span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                                    <i class="ni ni-active-40"></i>
                                </div>
                            </div>
                        </div>
                        <p class="mt-3 mb-0 text-sm">
                            <span class="text-nowrap">Te bazuara ne zonat perkatese</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title text-uppercase text-muted mb-0">Raste te krijuara</h5>
                                <span class="h2 font-weight-bold mb-0"  th:text="${inspectorStats.get('percentageOfCreated')} + '%'" >2,356</span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                                    <i class="ni ni-chart-pie-35"></i>
                                </div>
                            </div>
                        </div>
                        <p class="mt-3 mb-0 text-sm">
                            <span class="text-nowrap">Perqindja nga totali</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title text-uppercase text-muted mb-0">Inspektoret</h5>
                                <span class="h2 font-weight-bold mb-0" th:text="${inspectorStats.get('numberOfInspectors')} ">924</span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                                    <i class="ni ni-money-coins"></i>
                                </div>
                            </div>
                        </div>
                        <p class="mt-3 mb-0 text-sm">
                            <span class="text-nowrap">Numri total</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"  th:if="${#lists.contains(roles,'INSPECTOR')}">

            <div class="col-xl-4">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Zonat me raste aktive</h3>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <!-- Projects table -->
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Zona</th>
                                <th scope="col">Numri i rasteve aktive</th>
                                <th scope="col">Qyteti</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="zone : ${zonesWithActiveCases}">
                                <th scope="row" th:text="${zone.name}">
                                    Facebook
                                </th>
                                <td th:text="${zone.activeCases}">
                                    1,480
                                </td>
                                <td th:text="${zone.city}">
                                    1,480
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-xl-8">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Zonat</h3>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <!-- Projects table -->
                        <table id="zones" class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Rruga</th>
                                <th scope="col">Zona</th>
                                <th scope="col">Qyteti</th>
                            </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div class="row"  th:if="${#lists.contains(roles,'INSPECTOR')}">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Rastet</h3>
                            </div>

                        </div>
                    </div>
                    <div class="table-responsive">
                        <!-- Projects table -->


                        <table id="cases-table" class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Titulli</th>
                                <th scope="col">Statusi</th>
                                <th scope="col">Raportuesi</th>
                                <th scope="col">Data e raportimit</th>
                            </tr>
                            </thead>
                        </table>


                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Case #<span id="case-id-span"></span></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-6">
                                                <dl class="row">
                                                    <dt class="col-sm-6">Title</dt>
                                                    <dd class="col-sm-6" id="detailed_view_title"></dd>

                                                    <hr>

                                                    <dt class="col-sm-6">Reporter Identifier</dt>
                                                    <dd class="col-sm-6">
                                                        <p id="detailed_view_rep_id" ></p></p>
                                                    </dd>

                                                    <dt class="col-sm-6">Reported At</dt>
                                                    <dd class="col-sm-6">
                                                        <p id="detailed_view_rep_at" ></p></p>
                                                    </dd>

                                                    <hr>

                                                    <dt class="col-sm-6">Accused Party</dt>
                                                    <dd class="col-sm-6">
                                                        <p id="detailed_view_ac_type" ></p></p>
                                                    </dd>


                                                    <dt class="col-sm-6">Accused Party Id</dt>
                                                    <dd class="col-sm-6">
                                                        <p id="detailed_view_ac_id" ></p></p>
                                                    </dd>


                                                    <dt class="col-sm-6">Accused Party Name</dt>
                                                    <dd class="col-sm-6">
                                                        <p id="detailed_view_ac_name" ></p></p>
                                                    </dd>

                                                    <dt class="col-sm-6">Accused Party City</dt>
                                                    <dd class="col-sm-6">
                                                        <p id="detailed_view_ac_city" ></p></p>
                                                    </dd>

                                                </dl>
                                            </div>
                                            <div class="col-6">
                                                <dt>Description</dt>
                                                <dd>
                                                    <p id="detailed_view_description" ></p></p>
                                                </dd>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </section >
</html>

<script>

    $(document).ready( function () {
        var table = $('#zones').DataTable({
            "sAjaxSource": "/dashboard/data",
            "sAjaxDataProp": "",
            "aoColumns": [
                { "mData": "street"},
                { "mData": "zone" },
                { "mData": "city" },
                // { "mData": "phone" },
                // { "mData": "active" }
            ]
        })
    });

    $(document).ready(function () {
        var table = $('#cases-table').DataTable({
            "sAjaxSource": "/inspections/cases/summary/data",
            "sAjaxDataProp": "",
            "aoColumns": [
                {"mData": "id"},
                {
                    "mData": "title",
                    "render": function (data, type, row, meta) {
                        if (type === 'display') {
                            data = '<div role="button" id ="' + row.id + '" class="summary-link" tabindex="0">' + data + '</div>';
                            // data = '<a id ="' + row.id + '" class="summary-link" href="#">' + data + '</a>';
                        }
                        return data;
                    }


                },
                {"mData": "status",
                    "render": function (data, type, row, meta) {
                        let translatedData = "";

                        if(data === 'Created'){
                            translatedData = 'E krijuar';
                        }

                        return `<span class="badge badge-default"> ${translatedData}</span>`;
                    }
                },
                {"mData": "reportedBy"},
                {"mData": "reportedAt"}
                // { "mData": "phone" },
                // { "mData": "active" }
            ]
        })
    });
</script>