<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

  <div th:fragment="sidenav">
      <div class="scrollbar-inner">
        <!-- Brand -->
        <div class="sidenav-header  align-items-center">
          <a class="navbar-brand" href="javascript:void(0)">
            <img th:src="@{/img/brand/blue.png}" class="navbar-brand-img" alt="...">
          </a>
        </div>
        <div class="navbar-inner" >
          <!-- Collapse -->
          <div class="collapse navbar-collapse" id="sidenav-collapse-main">
            <!-- Nav items -->
<!--            <span th:unless="${#lists.isEmpty(privileges)}">Lasddasist is not empty</span>-->
            <ul class="navbar-nav">
              <li th:if="${#lists.contains(privileges,'VIEW_DASHBOARD')}" class="nav-item">
                <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}" th:href="@{/}">
                  <i class="ni ni-tv-2 text-primary"></i>
                  <span class="nav-link-text">Dashboard</span>
                </a>
              </li>
            </ul>
            <!-- Divider -->
            <hr class="my-3">
            <!-- Heading -->
            <h6 class="navbar-heading p-0 text-muted">
              <span class="docs-normal">Administrata</span>
            </h6>
            <!-- Navigation -->
            <ul class="navbar-nav mb-md-3">
              <li th:if="${#lists.contains(privileges,'CREATE_ADMIN_USERS')}" class="nav-item">
                <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/users/manage-users' ? 'active':''}" th:href="@{/users/manage-users}" target="_self">
                  <i class="ni ni-user-run"></i>
                  <span class="nav-link-text">Menaxhimi i perdoruesve</span>
                </a>
              </li>
              <li th:if="${#lists.contains(privileges,'VIEW_INSPECTION_CATEGORIES')}" class="nav-item">
                <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/inspections/categories' ? 'active':''}"  th:href="@{/inspections/categories}" target="_self">
                  <i class="ni ni-tag"></i>
                  <span class="nav-link-text">Kategorite e inspektimeve</span>
                </a>
              </li>
              <li th:if="${#lists.contains(privileges,'VIEW_INSPECTORS')}" class="nav-item">
                <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/inspections/inspectors') ? 'active':''}"   th:href="@{/inspections/inspectors}" target="_self">
                  <i class="ni ni-ruler-pencil"></i>
                  <span class="nav-link-text">Inspektoret</span>
                </a>
              </li>
              <li  th:if="${#lists.contains(privileges,'VIEW_INSPECTOR_CASES')}" class="nav-item" >
                <a class="nav-link"  th:classappend="${#httpServletRequest.getRequestURI() == '/inspections/cases' ? 'active':''}" th:href="@{/inspections/cases}" target="_self">
                  <i class="ni ni-paper-diploma"></i>
                  <span class="nav-link-text">Rastet e inspektimit</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
  </div>
</html>